.button {
  font-size: 0.85rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 0.6em 2.2em;
  background-color: var(--cyan);
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
}

.button:hover,
.button:focus {
  opacity: 0.7;
}

.rounded {
  border-radius: 500px;
}

.square {
  border-radius: 10px;
}
