.step-info {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.step-info--step {
  color: var(--light-gray);
  font-size: 0.65rem;
  margin-bottom: 0.1rem;
}

.step-info--info {
  color: var(--white);
  font-family: Ubuntu-Medium, sans-serif;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 767.5px) {
  .step-info {
    display: none;
  }
}